DB_HOST=localhost
DB_USER=crist
DB_PASS=root
DB_NAME=cristweb
DB_PORT=5432
DB_SSLMODE=disable


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root
REDIS_DB=0
REDIS_TIMEOUT=5s

UPLOAD_PATH=./uploads/images
MAX_UPLOAD_SIZE=5242880

# 是否开启 tweet 页面
TWEET_OPEN = false

# 腾讯云 COS 相关
COS_SECRET_ID=
COS_SECRET_KEY=
COS_BUCKET_URL=
COS_CDN_DOMAIN=